.wide {
  min-width: 140px;
}

.button {
  padding: 6px;
  border-radius: 8px;
  transition: border 0s, background-color var(--duration) ease-in-out;

  &:hover {
    background-color: var(--color-theme-secondary);
  }
}
