.heading-m {
  font-size: 32px;
  font-weight: 700;
}

.heading-s {
  font-size: 24px;
  font-weight: 700;
}

.heading-xs {
  font-size: 16px;
  font-weight: 600;
}

.body-text-m {
  font-size: 16px;
  font-weight: 400;
}

.body-text-s {
  font-size: 14px;
  font-weight: 400;
}

.button-primary {
  background-color: var(--color-light-purple) !important;
  color: var(--color-white) !important;
  padding: 12px;
  border-radius: 12px;
}

.button-primary:hover {
  box-shadow: var(--shadow-hover) !important;
  background-color: var(--color-hover-purple) !important;
}

.button-primary:disabled {
  opacity: 0.25;
}

label {
  user-select: none;
}

.label-borders {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-theme-lines);
  border-radius: 8px;
  padding: 10px;
  transition: border-width 0s, border-color var(--duration) ease-in-out;
}

.label-borders:hover {
  border-color: var(--color-light-purple);
  cursor: text;
}

.label-borders:focus-within {
  border-width: 1px;
  border-color: var(--color-light-purple);
  box-shadow: var(--shadow-hover);
}

.active-focus {
  border-color: var(--color-purple);
  box-shadow: var(--shadow-hover);
}

.divider {
  height: 1px;
  background-color: var(--color-theme-lines);
  /* margin: 2px 0; */
  width: 100%;
}