.heading-m {
  font-size: 32px;
  font-weight: 700;
}

.heading-s {
  font-size: 24px;
  font-weight: 700;
}

.heading-xs {
  font-size: 16px;
  font-weight: 600;
}

.body-text-m {
  font-size: 16px;
  font-weight: 400;
}

.body-text-s {
  font-size: 14px;
  font-weight: 400;
}

.button-primary {
  background-color: var(--color-light-purple) !important;
  color: var(--color-white) !important;
  padding: 12px;
  border-radius: 6px;
}

.button-primary:hover {
  /* box-shadow: var(--shadow-hover) !important; */
  background-color: var(--color-purple) !important;
}

.button-primary:disabled {
  opacity: 0.25;
}

.button-primary:disabled:hover {
  background-color: var(--color-light-purple) !important;
}

label {
  user-select: none;
}

.label-borders {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--color-theme-lines);
  border-radius: 8px;
  padding: 10px;
  transition: outline-width 0s, outline-color var(--duration) ease-in-out, background-color var(--duration) ease-in-out;
}

.label-borders:hover {
  outline-color: var(--color-light-purple);
  cursor: text;
}

.label-borders:focus-within {
  outline-width: 1px;
  outline-color: var(--color-light-purple);
  box-shadow: var(--shadow-hover);
}

.active-focus {
  outline-color: var(--color-light-purple) !important;
  box-shadow: var(--shadow-hover);
}

.divider-x {
  height: 1px;
  background-color: var(--color-theme-lines);
  /* margin: 2px 0; */
  width: 100%;
}

.divider-y {
  width: 1px;
  background-color: var(--color-theme-lines);
  /* margin: 2px 0; */
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 85vh;
  width: 80vw;
  background-color: var(--color-theme-primary);
  padding: 40px 28px;
  border: 1px solid var(--color-theme-lines);
  border-radius: 2px;
}

.ql-snow.ql-container {
  background-color: transparent;
  font-size: 18px !important;
}

code {
  background-color: var(--color-theme-secondary) !important; /*#f4f4f4 */;
  padding: 2px 6px !important;
  border-radius: 4px !important;
  font-family: 'Courier New', monospace !important;
}