:root {
  --color-purple: #34306c;
  --color-hover-purple: #beadff;
  --color-light-purple: #633cff;
  --color-white: #ffffff;
  --color-light-grey: #f4f7fd;
  --color-lines: #e4ebfa;
  --color-borders: #cfcfcf;
  --color-red: #ff3939;
  --shadow-hover: 0 0 24px 0 rgba(99, 60, 255, 0.2);
  --transition-param: box-shadow 0.2s ease-in-out;
  --color-very-dark-grey-bg: #2b2c37;
  --color-dark-grey: #20212c;
  --color-theme-primary: var(--color-white);
  --color-theme-secondary: var(--color-light-grey);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-theme-secondary);
}

input {
  outline: 0 !important;
  background: transparent !important;
  cursor: pointer;
}

label {
  user-select: none;
}

.label-borders {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-borders);
  border-radius: 8px;
  padding: 10px;
  transition: var(--transition-param);
}

.label-borders:hover {
  border-width: 1px;
  padding: 10px;
  border-color: var(--color-purple);
  cursor: pointer;
}

.label-borders:focus-within {
  border-width: 1px;
  padding: 10px;
  border-color: var(--color-purple);
  box-shadow: var(--shadow-hover);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body-text-m {
  font-size: 16px;
  font-weight: 400;
}

.body-text-s {
  font-size: 12px;
  font-weight: 400;
}