.ql-snow { 
  & .ql-editor {
    overflow-y: scroll;
    resize: vertical;
    outline: none !important;
  }

  &.ql-toolbar {
    display: block;
    color: var(--theme-text);
    background: var(--color-theme-secondary);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px solid var(--color-theme-lines) !important;
  }
}

.quill {
  & > .ql-toolbar {
    border-color: var(--color-theme-lines) !important;
    transition: border-width 0s, border-color var(--duration) ease-in-out, background-color var(--duration) ease-in-out;  
  }

  & > .ql-container {
    border: 1px solid var(--color-theme-lines) !important;
    border-top: none !important;
  }
  
  &:hover,
  &:focus-within {
    & > .ql-toolbar {
      border: 1px solid var(--color-light-purple) !important;
    }

    & > .ql-container {
      border: 1px solid var(--color-light-purple) !important;
      border-top: none !important;
      transition: border-width 0s, border-color var(--duration) ease-in-out;
    }
  }
}

.ql-snow.ql-toolbar {
  button,
  .ql-picker-label,
  .ql-picker-item {
    &:hover,
    &:focus,
    &.ql-active,
    &.ql-selected {
      color: var(--color-light-purple) !important;
    }

    &:hover,
    &:focus,
    &.ql-active {
      .ql-stroke,
      .ql-stroke-miter {
        stroke: var(--color-light-purple) !important;
      }

      .ql-fill,
      .ql-stroke.ql-fill,
      .ql-stroke-miter.ql-fill {
        fill: var(--color-light-purple) !important;
      }
    }
  }
}
